<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app" class="container">
        <header class="row d-flex">
            <div class="col-5 py-2 header_left d-flex justify-content-between ">
                <div class="header_left_left d-flex align-items-center">
                    <img :src="`./assets/img/avatar${me.avatar}.jpg`" alt="">
                    <div class="name mx-2">{{me.name}}</div>
                </div>
                <div class="header_left_icons d-flex justify-content-around align-items-center">
                    <i class="fas fa-circle-notch fa-lg"></i>
                    <i class="fas fa-comment-alt fa-lg"></i>
                    <i class="fas fa-ellipsis-v fa-lg"></i>
                </div>                
            </div>
            <div class="col-7 py-2 header_left d-flex justify-content-between ">
                <div class="header_left_left d-flex align-items-center">
                    <img :src="`./assets/img/avatar${contacts[activeContact].avatar}.jpg`" alt="">
                    <div class="mx-2 d-flex flex-column">
                        <span>{{contacts[activeContact].name}}</span>
                        <span class="grey_text"></span>
                    </div>                    
                </div>
                <div class="header_left_icons d-flex justify-content-around align-items-center">
                    <i class="fas fa-search fa-lg"></i>
                    <i class="fas fa-paperclip fa-lg"></i>
                    <i class="fas fa-ellipsis-v fa-lg"></i>
                </div>                
            </div>           
        </header>
        <div class="d-flex main row">
            <div class="col-5 sidebar d-flex flex-column px-0">
                <div class="sidebar_top d-flex align-items-center px-3">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fas fa-bell-slash fa-xl"></i>
                    </div>
                    <div class="notifications d-flex flex-column mx-2">
                        <span><strong>Ricevi notifiche di nuovi messaggi</strong></span>
                        <span><u>Attiva notifiche desktop</u></span>
                    </div>
                </div>
                <div class="sidebar_main">
                    <div id="search" class="p-1">
                        <div class="d-flex search_bar">
                            <label class="d-flex justify-content-center align-items-center bg-white px-4 py-2 icon_color" for="search_contact_input">
                              <i class="fa-solid fa-magnifying-glass fsa-fw border-1" @click="searchList"></i>
                            </label>
                            <input class="flex-grow-1 border-1 p-2" type="text" v-model="nameFilter" id="search_contact_input" placeholder="Cerca o inizia una nuova chat" >
                        </div>

                    </div>
                    <div class="users">
                        <ul class="list-unstyled">
                            <li>
                                <div  v-show="contact.visible" @click="chatUserClick(index)" v-for="(contact, index) in contacts" :class="index === activeContact ? 'active' : ''" class="chat_user p-3 align-items-center">
                                    <div class="userImg">
                                        <img :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="">
                                    </div>
                                    <div class="mx-2 d-flex flex-column flex-grow-1">
                                        <div class="text">{{contact.name}}</div>
                                        <span class="grey_text">{{lastMessage(contact)}}</span>
                                    </div> 
                                    <span class="grey_text">{{lastDate(contact)}}</span>                 
                                </div>                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_right px-0 col-7 position-relative">
                <div class="messages px-5 py-3 d-flex flex-column">
                    <div class="message" :class="message.status" v-for="(message, index) in contacts[activeContact].messages" @click="dropDown_Menu()">
                        <div class="position-relative">
                            <div class="dropdown_menu position-absolute">
                                <div class="dropdown">
                                    <button class="border-0 " v-show="dropdownMenu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Message info</a></li>
                                        <li><a class="dropdown-item" href="#" @click="deleteMessage(index)">Delete message</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="message">{{message.message}}</div>
                        <div class="date d-flex pr-2 justify-content-end">{{message.date}}</div>                          
                    </div>
                </div>




                <div class="footer position-absolute d-flex justify-content-around align-items-center px-3">
                    <i class="fa-regular fa-face-smile icon_color_dark fa-lg mx-3"></i>
                    <input type="text" class="form-control border-0 grey_text mx-3" name="newMessage" placeholder="Scrivi un messaggio" v-model.trim="newMessage" @keyup.enter="addMessage(), automaticAnswer()">
                    <i class="fa-solid fa-microphone icon_color_dark fa-lg mx-3"></i>
                </div>
            </div>            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>