*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
}

body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 15%,
        #d2dbda 15%
    );
}

.container{
    height: 95vh;
    margin: auto;
    border: 1px solid grey;   
}


.header_left, .header_right{
    border: 1px solid grey;
    background-color: #eaeaea;
}

.header_left_left img{
    border-radius: 50%;
    max-width: 100%;
    width: 40px;
}

.header_left_icons i{
    padding: 0 0.5rem;
    color: grey;
}
.grey_text{
    color:grey;
}