*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
}

body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 15%,
        #d2dbda 15%
    );
}

.container{
    height: 95vh;
    margin: auto;
    border: 1px solid grey;   
}


.header_left, .header_right{
    height: 55px;
    border: 1px solid grey;
    background-color: #eaeaea;
}

.header_left_left img{
    border-radius: 50%;
    max-width: 100%;
    width: 40px;
}

.header_left_icons i{
    padding: 0 0.5rem;
    color: grey;
}
.grey_text{
    color:grey;
}

.main{
    height: calc(100% - 55px); 
}
.sidebar{
    overflow-y: hidden;
}
.sidebar_top{
    height: 60px;
    background-color: #8edafc;
}

.sidebar_main{
    height: calc(95vh - 117px);
    background-color: beige;
}
.messages{
    height: calc(100% - 55px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}
.icon{
    border-radius: 50%;
    background-color: white;
    width: 40px;
    aspect-ratio: 1/1;
}
.fa-bell-slash{
    color: #8edafc;
}
.users{
    height: 515px;
    overflow-y: auto;
}
.fa-magnifying-glass, .fa-face-smile, .fa-microphone{
    color: grey;
}
#search, .footer{
    background-color: rgb(234, 234, 234);
}
.search_bar{
    border: 1px solid rgb(199, 197, 197);
}
.chat_user img{
    border-radius: 50%;
    max-width: 100%;
    width: 40px;
}
.main_right{
    height: 100%;
}
.sent, .received{
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    max-width: 200px;
}
.sent{
    align-self: flex-end;
    background-color: #d5f9ba;
}
.received{
    align-self: flex-start;
    background-color: white;
}

.users div:not(:not(.active)){
    background-color: rgba(128, 128, 128, 0.181);

}

.footer{
    height: 55px;
    bottom: 0%;
    width: 100%;
    position: fixed;
}

