*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
}

body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 15%,
        #d2dbda 15%
    );
}

.container{
    height: 95vh;
    margin: auto;
    border: 1px solid grey;   
}


.header_left, .header_right{
    height: 55px;
    border: 1px solid grey;
    background-color: #eaeaea;
}

.header_left_left img{
    border-radius: 50%;
    max-width: 100%;
    width: 40px;
}

.header_left_icons i{
    padding: 0 0.5rem;
    color: grey;
}
.grey_text{
    color:grey;
}

.notifications{
    background-color: #8edafc;
}

.main{
    height: calc(100% - 55px); 
}
.sidebar{
    overflow-y: hidden;
}
.sidebar_top{
    height: 60px;
    background-color: #8edafc;
}
.sidebar_main{
    height: calc(95vh - 117px);
    background-color: beige;
}
.chat{
    overflow-y: auto;
    background-color: bisque;
}